<ion-view title="About">
    <ion-nav-buttons side="right">
        <a href="/"><i class="ion-home"></i></a>
    </ion-nav-buttons>
    <ion-content>
        <div class="card">
            <div class="item item-divider">
                About Us
            </div>
            <div class="item item-text-wrap">
                <div class="row dev">
                    <div class="col-50 dev-name">Arun Galva</div>
                    <div class="col-50 social">
                        <a href="https://github.com/arungalva"><span class="ion-social-octocat"></span></a>
                        <a href="https://www.linkedin.com/in/arun-galva-790601b6"><span class="ion-social-linkedin-outline"></span></a>
                        <a href="mailto:arungalva@hotmail.com"><span class="ion-email-unread"></span></a>
                        <a href="http://arungalva.me"><span class="ion-link"></span></a>
                    </div>
                </div>
                <div class="row dev">
                    <div class="col-50 dev-name">Kunall Banerjee</div>
                    <div class="col-50 social">
                        <a href="https://github.com/yeskunall"><span class="ion-social-octocat"></span></a>
                        <a href="https://twitter.com/iamxypto"><span class="ion-social-twitter"></span></a>
                        <a href="mailto:yeskunall96@gmail.com"><span class="ion-email-unread"></span></a>
                        <a href="http://kimchi.surge.sh"><span class="ion-beer"></span></a>
                    </div>
                </div>
                <img src="img/top-kek.jpg" alt="">
            </div>
        </div>

        <div class="card">
            <div class="item item-text-wrap about">
                <h3>The content you see in this app was obtained from the following sites</h3>
                <ul>
                    <li>
                        fevgames.net
                    </li>
                    <li>
                        pokeassistant.com
                    </li>
                    <li>
                        pokeunlock.com
                    </li>
                    <li>
                        pokemongo.gamepress.gg
                    </li>
                </ul>
                <p>We would like to thank the developers of the aforementioned sites, without whose help this app would not have been possible.</p>
            </div>
        </div>
    </ion-content>
</ion-view>
