<ion-view title="{{ pokemonInfo.name }}">
    <ion-pane>
        <ion-tabs class="tabs-assertive tabs-top">
            <ion-tab title="Pokémon">
                <ion-nav-view name="info-tab"></ion-nav-view>
                <ion-content>
                    <div class="row pokemon-info-main">
                        <div class="col col-50">
                            <img class="pokemon-img" src="{{ pokemonInfo.img }}" />
                        </div>
                        <div class="col col-50 pokemon-info-main-right">
                            <p class="pokemon-number">#{{ pokemonInfo.number }}</p>
                            <p class="classification">{{ pokemonInfo.classification }}</p>
                            <p class="pokemon-type-I {{ pokemonInfo.typeI | lowercase }}">{{ pokemonInfo.typeI }}</p>
                        </div>
                    </div>
                    <div class="list card pokemon-info">
                        <div class="item item-text-wrap" ng-if="pokemonInfo.typeII">
                            <div class="row">
                                <div class="col col-50 bold">
                                    <span>Type II</span>
                                </div>
                                <div class="col col-50">
                                    {{ pokemonInfo.typeII }}
                                </div>
                            </div>
                        </div>

                        <div class="item item-text-wrap">
                            <div class="row">
                                <div class="col col-50 bold">
                                    <span>Maximum CP</span>
                                </div>
                                <div class="col col-50">
                                    {{ pokemonInfo.maxCP }}
                                </div>
                            </div>
                        </div>

                        <div class="item item-text-wrap">
                            <div class="row">
                                <div class="col col-50 bold">
                                    <span>Average Weight</span>
                                </div>
                                <div class="col col-50">
                                    {{ pokemonInfo.avgWeight }}
                                </div>
                            </div>
                        </div>

                        <div class="item item-text-wrap">
                            <div class="row">
                                <div class="col col-50 bold">
                                    <span>Average Height</span>
                                </div>
                                <div class="col col-50">
                                    {{ pokemonInfo.avgHeight }}
                                </div>
                            </div>
                        </div>

                        <div class="item item-text-wrap">
                            <div class="row">
                                <div class="col col-50 bold">
                                    <span>Flee Rate</span>
                                </div>
                                <div class="col col-50">
                                    {{ pokemonInfo.fleeRate }}
                                </div>
                            </div>
                        </div>

                        <div class="item item-text-wrap">
                            <div class="row">
                                <div class="col col-50 bold">
                                    <span>Hatching Distance</span>
                                </div>
                                <div class="col col-50">
                                    {{ pokemonInfo.hatchingDistance }}
                                </div>
                            </div>
                        </div>

                    </div>
                </ion-content>

            </ion-tab>

            <ion-tab title="Counters">
                <ion-nav-view name="pokemon-counters-tab"></ion-nav-view>
                <ion-content class="padding">
                    <h1>Pokemon Counters</h1>
                </ion-content>
            </ion-tab>

            <ion-tab title="Attacks">
                <ion-nav-view name="pokemon-attacks-tab"></ion-nav-view>
                <ion-content class="padding">
                    <ion-list ng-controller="AttacksCtrl">
                        <ion-item ng-repeat="attack in attacks">{{ attack.name }}</ion-item>
                    </ion-list>
                </ion-content>
            </ion-tab>
            <ion-tab title="Evolutions" ng-if="pokemonInfo.nextEvolutions || pokemonInfo.previousEvolutions">
                <ion-nav-view name="pokemon-evolutions-tab"></ion-nav-view>
                <ion-content class="padding">
                    <div class="row" ng-if="pokemonInfo.nextEvolutionRequirements">
                        <b>EXP till next evolution:&nbsp;</b> {{ pokemonInfo.nextEvolutionRequirements }}
                    </div>
                    <div ng-repeat="pokemon in pokemonInfo.previousEvolutions">
                        <a href="#/pokemon/{{allPokemon[pokemon-1].number}}" ng-if="pokemonInfo.previousEvolutions">
                            <div class="card" ng-if="pokemonInfo.previousEvolutions">
                                <div class="item item-divider">
                                    Previous Evolution
                                </div>
                                <div class="item item-text-wrap row">
                                    <div class="col col-50">
                                        <a href="#/pokemon/{{ allPokemon[pokemon-1].number }}"><img src="{{ allPokemon[pokemon-1].img }}" /></a>
                                    </div>
                                    <div class="col col-50 list bold">
                                        <div class="item item-text-wrap">
                                            <p>
                                                Name
                                            </p>
                                            {{ allPokemon[pokemon-1].name }}
                                        </div>
                                        <div class="item item-text-wrap">
                                            <p>
                                                Max CP
                                            </p>
                                            {{ allPokemon[pokemon-1].maxCP }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div ng-repeat="pokemon in pokemonInfo.nextEvolutions">
                        <a href="#/pokemon/{{ allPokemon[pokemon-1].number }}" ng-if="pokemonInfo.nextEvolutions">
                            <div class="card animated infinite tada">
                                <div class="item item-divider">
                                    Next Evolution
                                </div>
                                <div class="item item-text-wrap row">
                                    <div class="col col-50">
                                        <img src="{{ allPokemon[pokemon-1].img }}" />
                                    </div>
                                    <div class="col col-50 list bold">
                                        <div class="item item-text-wrap">
                                            <p>
                                                Name
                                            </p>
                                            {{ allPokemon[pokemon-1].name }}
                                        </div>
                                        <div class="item item-text-wrap">
                                            <p>
                                                Max CP
                                            </p>
                                            {{ allPokemon[pokemon-1].maxCP }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                </ion-content>
            </ion-tab>
        </ion-tabs>

    </ion-pane>
</ion-view>
