$pokeball-red: #ee1515;
$bug: #A8B820;
$dark: #705848;
$dragon: #7038F8;
$electric: #F8D030;
$fairy: #EE99AC;
$flying: #A890F0;
$fighting: #C03028;
$fire: #F08030;
$ghost: #705898;
$grass: #78C850;
$ground: #E0C068;
$ice: #98D8D8;
$normal: #A8A878;
$poison: #A040A0;
$psychic: #F85888;
$rock: #B8A038;
$steel: #B8B8D0;
$water: #6890F0;
@function color($poke-type) {
     @return $poke-type;
}
