@import 'tabs/tabs';
@import 'types';
.pokemon-number {
    font-size: 3em;
    line-height: 16px;
    text-align: center;
    color: #263238;
}
.pokemon-info-main-right {
    padding: 15% 30px 0;
}
.pokemon-type-I {
    padding: 8px;
    border-width: medium;
    border-radius: 20px;
    margin-top: 0;
    text-align: center;
    font-family: Roboto-Light;
    color: white;
    font-size: 24px;
}
.classification {
    text-align: center;
    color: #263238;
    margin-top: 30px;
    font-size: 0.9em;
}
img.pokemon-img {
    width: 100%;
    height: auto;
}
.bold {
    font-weight: bold;
}
