@import 'variables';
.type {
    border-radius: 35px 35px 35px 35px;
    display: table;
    margin: 5px 9px !important;
    padding: 5% 10% !important;
}
.bug {
    background-color: color($bug);
}
.dark {
    background-color: color($dark);
}
.electric {
    background-color: color($electric);
}
.fairy {
    background-color: color($fairy);
}
.flying {
    background-color: color($flying);
}
.fighting {
    background-color: color($fighting);
}
.fire {
    background-color: color($fire);
}
.ghost {
    background-color: color($ghost);
}
.grass {
    background-color: color($grass);
}
.ground {
    background-color: color($ground);
}
.ice {
    background-color: color($ice);
}
.normal {
    background-color: color($normal);
}
.poison {
    background-color: color($poison);
}
.psychic {
    background-color: color($psychic);
}
.rock {
    background-color: color($rock);
}
.steel {
    background-color: color($steel);
}
.water {
    background-color: color($water);
}
