.list .item.item-accordion {
    transition: 0.09s all linear
}

.right {
    float: right
}

table {
    width: 100%
}

table td {
    vertical-align: middle
}

table td:not(:first-child) {
    padding: 1% 15px
}

table td:nth-child(even) {
    float: right;
    font-weight: 700
}

table td:nth-child(odd) {
    float: left
}

#sub {
    font-size: 1.0rem
}

.bug-type {
    color: #A8B820 !important
}

.dark-type {
    color: #705848 !important
}

.dragon-type {
    color: #7038F8 !important
}

.electric-type {
    color: #F8D030 !important
}

.fairy-type {
    color: #EE99AC !important
}

.flying-type {
    color: #A890F0 !important
}

.fighting-type {
    color: #C03028 !important
}

.fire-type {
    color: #F08030 !important
}

.ghost-type {
    color: #705898 !important
}

.grass-type {
    color: #78C850 !important
}

.ground-type {
    color: #E0C068 !important
}

.ice-type {
    color: #98D8D8 !important
}

.normal-type {
    color: #A8A878 !important
}

.poison-type {
    color: #A040A0 !important
}

.psychic-type {
    color: #F85888 !important
}

.rock-type {
    color: #B8A038 !important
}

.steel-type {
    color: #B8B8D0 !important
}

.water-type {
    color: #6890F0 !important
}

.bug {
    background-color: #A8B820
}

.dark {
    background-color: #705848
}

.dragon {
    background-color: #7038F8
}

.electric {
    background-color: #F8D030
}

.fairy {
    background-color: #EE99AC
}

.flying {
    background-color: #A890F0
}

.fighting {
    background-color: #C03028
}

.fire {
    background-color: #F08030
}

.ghost {
    background-color: #705898
}

.grass {
    background-color: #78C850
}

.ground {
    background-color: #E0C068
}

.ice {
    background-color: #98D8D8
}

.normal {
    background-color: #A8A878
}

.poison {
    background-color: #A040A0
}

.psychic {
    background-color: #F85888
}

.rock {
    background-color: #B8A038
}

.steel {
    background-color: #B8B8D0
}

.water {
    background-color: #6890F0
}

.center {
    color: #666;
    text-align: center
}

.classification {
    color: #263238;
    font-size: 1.6rem;
    margin-top: 30px;
    text-align: center
}

.pokemon-number {
    color: #263238;
    font-size: 3.6rem;
    text-align: center
}

.pokemon-info-main-right {
    padding: 15% 30px 0;
    text-align: center
}

.pokemon-type-I {
    border-radius: 20px;
    color: #fff;
    font-size: 1.6rem;
    margin-top: 0;
    padding: 8px
}

.pokemon-img {
    display: block;
    margin: 0 auto
}

.pokemon-info span {
    font-weight: bold
}

.type {
    font-size: 1.4rem
}

.about h3 {
    font-size: 1.8rem
}

.about p {
    font-size: 1.6rem;
    margin: 13px 0
}

.about ul {
    list-style: inside
}

.dev {
    margin: 11px 0
}

.dev-name {
    font-size: 1.8rem
}

.social a span {
    font-size: 2.4rem;
    margin-left: 7px
}

html {
    font-size: 62.5%
}

img {
    max-width: 100%;
    max-height: 100%
}

.view-container {
    background: #eceff1 !important
}

a {
    color: currentColor;
    text-decoration: none
}

i {
    font-size: 2.4rem;
    padding: 5px 7px
}

.slidingTabs ul {
    background-color: #F44336 !important
}

.slidingTabs li {
    font-size: 1.1rem !important
}

.bar-assertive {
    background-color: #F44336 !important;
    border-color: #ee1515 !important
}

.slider-slides {
    height: 95%
}

.right-buttons {
    padding: 4.5px
}
